.fsd-slider{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-width: 300px;
  user-select: none;

  &_is_vertical{
    flex-direction: row;
    min-height: 300px;
    min-width: auto;
    width: auto;
  }
  
  &__range{
    background-color: green;
    height: 20px;
    width: inherit;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
  }

  &__range_is_vertical{
    height: inherit;
    width: 20px;
  }

  &__colored-range{
    background-color: purple;
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
  }

  &__thumb-from,
  &__thumb-to{
    position: absolute;
    background-color: indigo;
    height: 30px;
    width: 30px;
    top:-5px;
    left: -5px;
    cursor: pointer;
    border-radius: 50%;
  }

  &__thumb-label{
    position: absolute;
    display: block;
    color: white;
    top:-30px;
    left: 0px;
    min-width: 20px;
    min-height: 20px;
    background-color: navy;
    border-radius: 3px;

    &_is_vertical{
      top: 5px;
      left: -50px;
    }

  }

  &__thumb-value{
    font-size: 16px;
    font-family: inherit;
    display: flex;
    justify-content: center;
  }

  &__range-label{
    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    position: relative;

    &_is_vertical{
      flex-direction: column;
      width: auto;
      height: auto;
      margin-left: 10px;
      margin-top: 0;

      .fsd-slider__range-label-scale::before { 
        left: 0%;
        top: 50%;
        border-right-color: rgb(197, 77, 77);
        border-width: 3px;
        margin-top: -3px;
      }

    }

    &-scale{
      background-color: rgb(197, 77, 77);
      border-radius: 5px;
      position: absolute;
      padding: 3px;
      z-index: 9;
      cursor: pointer;

      &::before {
        content: ""; 
        border: solid transparent;
        position: absolute;   
        bottom: 100%;
        left: 50%;
        border-bottom-color: rgb(197, 77, 77);
        border-width: 3px;
        margin-left: -3px;
      }

    }

  }

  &_element_is_hidden{
    display: none;
  }

}
