include ./control-panel/control-panel.pug

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Slider
  body
    .sliders
      .sliders__elem
        .slider1
        .sliders__control-panel
          +control-panel({id:'slider1'})
      .sliders__elem
        .slider2
        .sliders__control-panel
          +control-panel({id:'slider2'})
      .sliders__elem
        .slider3
        .sliders__control-panel
          +control-panel({id:'slider3'})