@import './styles/fsdSlider.scss';
@import './modules/controlpanel/controlpanel.scss';
.sliders{
font-family: "Arial";
font-weight: 500;
background-color:lightgreen;
margin-top: 50px;
}
.sliders input{
  max-height: 20px;
}
.sliders__elem{
  display: flex;
  flex-direction: column;
 }
 .sliders__elem-slider-container{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   margin-bottom: 50px;
 }
 .fsd-slider{
   width: 300px;
   height: 300px;
   margin-right: 30px;
   margin-top: 30px;
 }

