include ./modules/controlPanel/controlPanel.pug
html(lang="en")
 head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title Slider
 body.sliders
  .sliders__elem
   .sliders__elem-slider-container
    input(type="text" class="slider__elem-result1" )
    .sliders__elem-slider1
    .sliders__elem-control-panel
     +controlpanel({id:'slider1'})
   .sliders__elem-slider-container
    input(type="text" class="slider__elem-result2" )
    .sliders__elem-slider2
    .sliders__elem-control-panel
     +controlpanel({id:'slider2'})
   .sliders__elem-slider-container
    input(type="text" class="slider__elem-result1" )
    .sliders__elem-slider3
    .sliders__elem-control-panel
     +controlpanel({id:'slider3'})
   